$font: 'Chillax',
sans-serif;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    width: 100vw;
    height: 100vh;

    position: relative;

    
    background-color: #011638;
    
    .container {
        background-color: #F9F8F1;

        overflow: hidden;

        width: 100%;
        height: 100%;

        position: relative;

        transition: transform 0.5s ease-in-out;

        &.to-the-left {
            transform: translateX(-100%);

            @media(orientation: portrait) and (max-width: 411px) {
                transform: translateY(-100%);
            }
        }

        .name-card {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 40%;
            height: 0px;

            border-left: 3px solid #437C90;

            padding-left: 20px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            position: relative;

            overflow: hidden;

            transition: all 0.5s ease-in-out 500ms;
            // -webkit-transition: all 0.5s ease-in-out 500ms;

            &.open {
                height: 45%;
            }


            @media(orientation: portrait) and (max-width: 768px) {
                width: 70%;

                &.open {
                    height: 40%;
                }
            }

            @media(orientation: landscape) and (max-width: 931px) {
                width: 60%;
            }

            @media(orientation: portrait) and (max-width: 411px) {
                width: 80%;

                &.open {
                    height: 30%;
                }
            }

            @media(orientation: landscape) and (max-width: 731px) {
                width: 60%;

                &.open {
                    height: 70%;
                }
            }

            @media(orientation: portrait) and (max-width: 375px) {
                width: 90%;
            }

            @media(orientation: landscape) and (max-width: 812px) {


                &.open {
                    height: 70%;
                }
            }

            @media(orientation: landscape) and (max-width: 720px) {
                width: 70%;
            }



            .text {
                font-family: $font;
                font-weight: 300;

                position: relative;
                right: 100%;


                span {
                    font-weight: 400;
                    color: #437C90;
                }


                &.visible {
                    position: relative;
                    right: 0%;
                    // transition: 0.5s ease-in-out;
                }

                @media(max-width: 1700px) {
                    &:nth-child(1) {
                        font-size: 140px;
                    }

                    &:nth-child(2) {
                        font-size: 110px;
                    }

                    &:nth-child(3) {
                        font-size: 30px;
                    }
                }

                @media(max-width: 1440px) {
                    &:nth-child(1) {
                        font-size: 140px;
                    }

                    &:nth-child(2) {
                        font-size: 110px;
                    }

                    &:nth-child(3) {
                        font-size: 28px;
                    }
                }

                @media(max-width: 1367px) {
                    &:nth-child(1) {
                        font-size: 120px;
                    }

                    &:nth-child(2) {
                        font-size: 90px;
                    }

                    &:nth-child(3) {
                        font-size: 25px;
                    }
                }

                @media(max-width: 1218px) {
                    &:nth-child(1) {
                        font-size: 120px;
                    }

                    &:nth-child(2) {
                        font-size: 90px;
                    }

                    &:nth-child(3) {
                        font-size: 20px;
                    }
                }

                @media(orientation: portrait) and (max-width: 411px) {
                    &:nth-child(1) {
                        font-size: 60px
                    }

                    &:nth-child(2) {
                        font-size: 50px;
                    }

                    &:nth-child(3) {
                        font-size: 16px;
                    }
                }

                @media(orientation: landscape) and (max-width: 731px) {
                    &:nth-child(1) {
                        font-size: 70px
                    }

                    &:nth-child(2) {
                        font-size: 60px;
                    }

                    &:nth-child(3) {
                        font-size: 20px;
                    }
                }

                @media(orientation: portrait) and (max-width: 375) {
                    &:nth-child(1) {
                        font-size: 70px
                    }

                    &:nth-child(2) {
                        font-size: 60px;
                    }

                    &:nth-child(3) {
                        font-size: 20px;
                    }
                }

                @media(orientation: landscape) and (max-width: 812px) {
                    &:nth-child(1) {
                        font-size: 65px
                    }

                    &:nth-child(2) {
                        font-size: 60px;
                    }

                    &:nth-child(3) {
                        font-size: 22px;
                    }
                }

                

            }

            h1 {
                font-size: 150px;
                transition: right 0.5s ease-in-out 1000ms;
            }

            h2 {
                font-size: 130px;
                transition: right .5s ease-in-out 1500ms;
            }

            h3 {
                font-size: 35px;
                transition: right .5s ease-in-out 2000ms;
            }
        }

        #btn {

            opacity: 0;

            pointer-events: none;

            z-index: 10;

            position: absolute;
            bottom: 50px;
            right: 50px;
            // transform: translateY(-50%);

            width: 70px;
            height: 70px;

            border-radius: 50px;

            border: none;
            background-color: #011638;

            text-align: center;

            font-size: 40px;
            color: #A8201A;

            transition: opacity 0.2s ease-in-out;

            &.done {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
            }


            @media(orientation: portrait) and (max-width: 411px) {
                left: 50%;
                transform: translateX(-50%) rotate(-90deg);
            }
            @media(orientation: landscape) and (max-width: 731px) {
                right: 25px;
                bottom: 25px;
            }
        }
    }
}